
.wrapper{
  width:1045px;
  height: 1200px;
  margin: 0 auto;
  /*position: relative;*/
  background:#3f51b5;
  display: block;
}

  /*.wrapper-index{
    width:1145px;
    height: 1200px;
    margin: 0 auto;
    background:#30B7D4;
    display: block;
  }*/

#lightbulb-title{
  color: white;
  font-family: orbitron, sans-serif;
  font-size: 4em;
  /*margin-left: 400px;
  margin-right: 300px;*/
  position: relative;
  left:350px;
}

.heart-timer-line{
  display: inline-block;
}

#hearts {
color: white;
}

#statictimer{
  color: white;
  font-family: sans-serif;
  position: relative;
  left:950px;
}

/*.cardspace{
  width:1130px;
}*/
#button{

}
.card{
  width:14%;
  height:16.66%;
  background:#7986cb;
  border-radius: 10px;
  text-align: center;
  font-size: 2em;
  color:#7986cb;
  line-height: 200px;
  display: inline-block;
  margin: .2px;
  transition: background .5s, transform .5s;
}

input{
  width: 200px;
  height: 200px;
  display: none;

}

input:checked + .card{
  background: #7986cb;
  transform: rotateY(180deg);
  color:white;
}
/*...........end of css for a card.............*/
.spacing-box{
  width:1045px;
  height:700px;


}
#newgame{
  color: white;
  text-align: center;
    line-height: 50px;
  font-size: 2em;
  font-family: sans-serif;

}

#easy{
  color: white;
  text-align: center;
    line-height: 50px;
  font-size: 1em;
  font-family: sans-serif;
  width: 307px;
  height: 50px;
  display: block;
  margin: auto;
  border: 3px solid white;

}

#hard{
  color: white;
  text-align: center;
    line-height: 50px;
  font-size: 1em;
  font-family: sans-serif;
  width: 307px;
  height: 50px;
  display: block;
  margin: auto;
  border: 3px solid white;
}
