
.wrapper{
  width:1130px;
  height: 700px;
  margin: 0 auto;
  /*position: relative;*/
  background:darkblue;
  display: block;


}
#lightbulb-title{
  color: white;
  font-family: orbitron, sans-serif;
  font-size: 4em;
  /*margin-left: 400px;
  margin-right: 300px;*/
  position: relative;
  left:350px;

}
.heart-timer-line{
  display: inline-block;
}

#hearts {
color: white;
}

#statictimer{
  color: white;
  font-family: sans-serif;
  position: relative;
  left:950px;
}

#button{

}
.card1{
  width:200px;
  height: 200px;
  background: red;
  display: block;
  transition: background 1s, transform 1s;
}

input{
  width: 200px;
  height: 200px;
  display: none;
}

input:checked + .card{
  background: green;
  transform: rotateY(180deg);
}
